@use '@styling/colour.scss';
@use '@styling/sizing.scss';
@use '@styling/text.scss';

$border-size: 1px;

.Input {

  @include text.ui-font;

  box-sizing: border-box;
  font-weight: 400;
  padding: 0;
  background-color: colour.$colour-neutral-lightest;

  &.Style_bordered {
    border-radius: 6px;
    border: $border-size solid colour.$colour-primary-active;

    &:focus {
      outline: 1px solid colour.$colour-primary-6;
    }
  }

  &.Style_borderless {
    border: $border-size solid transparent;

    &:focus {
      outline: none;
      border-bottom-color: colour.$colour-primary-6;
    }
  }

  &.Size_extra-small {
    height: sizing.$common-height-extra-small;
    font-size: sizing.$common-font-size-extra-small;

    &.Style_bordered {
      padding: 0 sizing.$common-side-padding-extra-small;
      border-radius: sizing.$common-border-radius-extra-small;
    }
  }

  &.Size_small {
    height: sizing.$common-height-small;
    font-size: sizing.$common-font-size-small;

    &.Style_bordered {
      padding: 0 sizing.$common-side-padding-small;
      border-radius: sizing.$common-border-radius-small;
    }
  }

  &.Size_medium {
    height: sizing.$common-height-medium;
    font-size: sizing.$common-font-size-medium;

    &.Style_bordered {
      padding: 0 sizing.$common-side-padding-medium;
      border-radius: sizing.$common-border-radius-medium;
    }
  }

  &.Size_large {
    height: sizing.$common-height-large;
    font-size: sizing.$common-font-size-large;

    &.Style_bordered {
      padding: 0 sizing.$common-side-padding-large;
      border-radius: sizing.$common-border-radius-large;
    }
  }

  &.Size_extra-large {
    height: sizing.$common-height-extra-large;
    font-size: sizing.$common-font-size-extra-large;

    &.Style_bordered {
      padding: 0 sizing.$common-side-padding-extra-large;
      border-radius: sizing.$common-border-radius-extra-large;
    }
  }


  &.Width_extra-small {
    width: 3em;
    max-width: 100%;
  }

  &.Width_small {
    width: 10em;
    max-width: 100%;
  }

  &.Width_medium {
    width: 15em;
    max-width: 100%;
  }

  &.Width_large {
    width: 25em;
    max-width: 100%;
  }

  &.Width_extra-large {
    width: 40em;
    max-width: 100%;
  }

  &.Width_full {
    width: 100%;
    max-width: 100%;
  }
}
