@use '@styling/colour.scss';
@use '@styling/sizing.scss';
@use '@styling/text.scss';

$border-size: 1px;

.Input {

  @include text.ui-font;

  box-sizing: border-box;
  font-weight: 400;
  padding: 0;
  background-color: colour.$colour-neutral-lightest;

  &.Style_bordered {
    border: $border-size solid colour.$colour-primary-active;

    &:focus {
      outline: 1px solid colour.$colour-primary-6;
    }
  }

  &.Style_borderless {
    border: $border-size solid transparent;

    &:focus {
      outline: none;
      border-bottom-color: colour.$colour-primary-6;
    }
  }

  @include sizing.globally-relative-size-mode-properties(["height", "font-size"]);
  @include sizing.globally-relative-size-mode-properties-with-parent-class(["border-radius"], "&.Style_bordered");
  @include sizing.globally-relative-size-mode-properties-with-parent-class(["padding-left", "padding-right"], "&.Style_bordered", 0.75);
  @include sizing.parent-relative-common-field;

  &.SizeMode_parent-relative {
    &.Style_borderless {
      padding: 0;
    }
  }

  &.SizeMode_globally-relative {
    &.Style_borderless {
      padding: 0;
    }
  }

  &.Width_extra-small {
    width: 3em;
    max-width: 100%;
  }

  &.Width_small {
    width: 10em;
    max-width: 100%;
  }

  &.Width_medium {
    width: 15em;
    max-width: 100%;
  }

  &.Width_large {
    width: 25em;
    max-width: 100%;
  }

  &.Width_extra-large {
    width: 40em;
    max-width: 100%;
  }

  &.Width_full {
    width: 100%;
    max-width: 100%;
  }
}
