@use '@styling/colour.scss';
@use '@styling/sizing.scss';
@use '@styling/text.scss';

.Button {
  @include text.ui-font;

  border: 1px solid transparent;
  outline: none;
  font-size: 1em;
  font-weight: 400;
  cursor: pointer;
  transition: border-color 0.25s;
  text-wrap: nowrap;
  background-color: transparent;

  @include sizing.globally-relative-size-mode-properties(["height", "font-size", "border-radius"]);
  @include sizing.globally-relative-size-mode-properties-with-parent-class(["padding-left", "padding-right"], "&.Style_button");

  &.Style_button {
    text-decoration: none;
    @include sizing.parent-relative-common-field;
  }

  &.Style_link {
    text-decoration-line: underline;
    background-color: transparent;

    @include sizing.parent-relative-common-field(['padding', 'padding-left', 'padding-right']);

    &:hover,
    &:focus-visible,
    &:focus
    {
      text-decoration-thickness: 5px;
    }

    &[data-pressed=true],
    &:active {
      outline: none;
    }

    &:hover {
      text-decoration: none;
    }
  }

  &.Variant_primary {
    &.Style_button {
      color: colour.$colour-primary-10;
      background-color: colour.$colour-primary-6;

      &:hover {
        background-color: colour.$colour-primary-1;
      }

      &:focus-within,
      &:focus-visible,
      &:focus {
        outline: 1px solid colour.$colour-primary-4;
        border-color: colour.$colour-primary-4;
      }

      &[data-pressed=true],
      &:active {
        outline: none;
        background-color: colour.$colour-primary-7;
        color: colour.$colour-primary-1;
        border-color: transparent;
      }
    }

    &.Style_link {
      color: colour.$colour-primary-1;

      &[data-pressed=true],
      &:active {
        color: colour.$colour-primary-6;
      }
    }
  }

  &.Variant_secondary {
    &.Style_button {
      background-color: colour.$colour-neutral-lightest;
      color: colour.$colour-primary-6;
      border-color: colour.$colour-primary-6;

      &:hover {
        background-color: colour.$colour-primary-10;
      }

      &:focus {
        outline: 1px solid colour.$colour-neutral-4;
        border-color: colour.$colour-neutral-4;
      }

      &[data-pressed=true],
      &:active {
        outline: none;
        background-color: colour.$colour-neutral-7;
        color: colour.$colour-neutral-1;
        border-color: colour.$colour-neutral-1;
      }
    }

    &.Style_link {
      color: colour.$colour-primary-6;

      &[data-pressed=true],
      &:active {
        color: colour.$colour-primary-8;
      }
    }
  }

  &.Variant_danger {
    &.Style_button {
      background-color: colour.$colour-red-9;
      color: colour.$colour-red-2;

      &:hover {
        background-color: colour.$colour-red-10;
      }

      &:focus {
        outline: 1px solid colour.$colour-red-1;
        border-color: colour.$colour-red-1;
      }

      &[data-pressed=true],
      &:active {
        outline: none;
        background-color: colour.$colour-red-7;
        color: colour.$colour-red-1;
        border-color: colour.$colour-red-1;
      }
    }

    &.Style_link {
      color: colour.$colour-red-4;

      &[data-pressed=true],
      &:active {
        color: colour.$colour-red-6;
      }
    }
  }

  &.Variant_warning {
    &.Style_button {
      background-color: colour.$colour-yellow-7;
      color: colour.$colour-yellow-1;

      &:hover {
        background-color: colour.$colour-yellow-8;
      }

      &:focus {
        outline: 1px solid colour.$colour-yellow-1;
        border-color: colour.$colour-yellow-1;
      }

      &[data-pressed=true],
      &:active {
        outline: none;
        background-color: colour.$colour-yellow-3;
        color: colour.$colour-yellow-1;
        border-color: colour.$colour-yellow-1;
      }
    }

    &.Style_link {
      color: colour.$colour-yellow-3;

      &[data-pressed=true],
      &:active {
        color: colour.$colour-yellow-4;
      }
    }
  }

  &.Variant_success {
    &.Style_button {
      background-color: colour.$colour-green-7;
      color: colour.$colour-green-1;

      &:hover {
        background-color: colour.$colour-green-8;
      }

      &:focus {
        outline: 1px solid colour.$colour-green-1;
        border-color: colour.$colour-green-1;
      }

      &[data-pressed=true],
      &:active {
        outline: none;
        background-color: colour.$colour-neutral-7;
        color: colour.$colour-neutral-1;
        border-color: colour.$colour-neutral-1;
      }
    }

    &.Style_link {
      color: colour.$colour-green-4;

      &[data-pressed=true],
      &:active {
        color: colour.$colour-green-7;
      }
    }
  }
}
