@use '@styling/colour';
@use '@styling/text';

.Text {
  @include text.text-font;

  color: colour.$color-primary;

  &.Size_small {
    font-size: text.$text-size-small;
  }

  &.Size_medium {
    font-size: text.$text-size-medium;
  }

  &.Size_large {
    font-size: text.$text-size-large;
  }
}
