@use '@styling/colour';
@use '@styling/text';

.Text {
  @include text.text-font;

  color: colour.$colour-primary-1;

  &.Size_extra-small {
    &.SizeMode_parent-relative {
      font-size: text.$text-size-parent-relative-extra-small;
    }
    &.SizeMode_globally-relative {
      font-size: text.$text-size-globally-relative-extra-small;
    }
  }

  &.Size_small {
    &.SizeMode_parent-relative {
      font-size: text.$text-size-parent-relative-small;
    }
    &.SizeMode_globally-relative {
      font-size: text.$text-size-globally-relative-small;
    }
  }

  &.Size_medium {
    &.SizeMode_parent-relative {
      font-size: text.$text-size-parent-relative-medium;
    }
    &.SizeMode_globally-relative {
      font-size: text.$text-size-globally-relative-medium;
    }
  }

  &.Size_large {
    &.SizeMode_parent-relative {
      font-size: text.$text-size-parent-relative-large;
    }
    &.SizeMode_globally-relative {
      font-size: text.$text-size-globally-relative-large;
    }
  }

  &.Size_extra-large {
    &.SizeMode_parent-relative {
      font-size: text.$text-size-parent-relative-extra-large;
    }
    &.SizeMode_globally-relative {
      font-size: text.$text-size-globally-relative-extra-large;
    }
  }
}
