@use '@styling/colour';
@use '@styling/text';

.Heading {
  @include text.heading-font;
  font-weight: 400;

  color: colour.$colour-primary-1;

  margin-block-start: 0;
  margin-block-end: 0;
}

@mixin sizeMixin($size-factor) {
  &.Size_extra-small {
    &.SizeMode_parent-relative {
      font-size: text.$text-size-parent-relative-extra-small * $size-factor;
    }
    &.SizeMode_globally-relative {
      font-size: text.$text-size-globally-relative-extra-small * $size-factor;
    }
  }

  &.Size_small {
    &.SizeMode_parent-relative {
      font-size: text.$text-size-parent-relative-small * $size-factor;
    }
    &.SizeMode_globally-relative {
      font-size: text.$text-size-globally-relative-small * $size-factor;
    }
  }

  &.Size_medium {
    &.SizeMode_parent-relative {
      font-size: text.$text-size-parent-relative-medium * $size-factor;
    }
    &.SizeMode_globally-relative {
      font-size: text.$text-size-globally-relative-medium * $size-factor;
    }
  }

  &.Size_large {
    &.SizeMode_parent-relative {
      font-size: text.$text-size-parent-relative-large * $size-factor;
    }
    &.SizeMode_globally-relative {
      font-size: text.$text-size-globally-relative-large * $size-factor;
    }
  }

  &.Size_extra-large {
    &.SizeMode_parent-relative {
      font-size: text.$text-size-parent-relative-extra-large * $size-factor;
    }
    &.SizeMode_globally-relative {
      font-size: text.$text-size-globally-relative-extra-large * $size-factor;
    }
  }
}

h1.Heading { @include sizeMixin(2.5); }
h2.Heading { @include sizeMixin(2.25); }
h3.Heading { @include sizeMixin(2); }
h4.Heading { @include sizeMixin(1.75); }
h5.Heading { @include sizeMixin(1.5); }
h6.Heading { @include sizeMixin(1.25); }
