$common-height-globally-relative-extra-small: 0.5rem;
$common-height-globally-relative-small: 1rem;
$common-height-globally-relative-medium: 2.75rem;
$common-height-globally-relative-large: 3.5rem;
$common-height-globally-relative-extra-large: 4rem;

$common-height-parent-relative-extra-small: 0.5em;
$common-height-parent-relative-small: 0.75em;
$common-height-parent-relative-medium: 1em;
$common-height-parent-relative-large: 1.5em;
$common-height-parent-relative-extra-large: 2em;

$border-radius-globally-relative-medium: 0.5rem;
$border-radius-parent-relative-medium: 0.5em;


//$common-height-extra-small: 1.5rem;
//$common-height-small: 2rem;
//$common-height-medium: 2.75rem;
//$common-height-large: 3rem;
//$common-height-extra-large: 4.1rem;


$common-height-extra-small: 1.5rem;
$common-height-small: 1.8rem;
$common-height-medium: 2.25rem;
$common-height-large: 3rem;
$common-height-extra-large: 4.1rem;

$common-font-size-extra-small: 0.7em;
$common-font-size-small: 0.8em;
$common-font-size-medium: 1em;
$common-font-size-large: 1.5em;
$common-font-size-extra-large: 2em;

$common-border-radius-extra-small: 0.5em;
$common-border-radius-small: 0.5em;
$common-border-radius-medium: 0.5em;
$common-border-radius-large: 0.5em;
$common-border-radius-extra-large: 0.5em;

$common-side-padding-extra-small: 0.5em;
$common-side-padding-small: 0.5em;
$common-side-padding-medium: 0.5em;
$common-side-padding-large: 0.5em;
$common-side-padding-extra-large: 0.5em;

$sizing-scale-1: 12px;
$sizing-scale-2: 14px;
$sizing-scale-3: 16px;
$sizing-scale-4: 18px;
$sizing-scale-5: 20px;
$sizing-scale-6: 24px;
$sizing-scale-7: 30px;
$sizing-scale-8: 36px;
$sizing-scale-9: 48px;
$sizing-scale-10: 60px;
$sizing-scale-11: 72px;
